#### 1. Read Text File into R

read.table() function is the most important and commonly used function to import simple data files into R.
header=TRUE means it will print values.

In [1]:
df <- read.table("Sample.txt",header=TRUE)
head(df)

  V1 V2 V3
1 1   6 a
2 2   7 b
3 3   8 c
4 4   9 d
5 5  10 e

In [9]:
df$V1

[1] 1 2 3 4 5

In [2]:
# change column name
df<-data.frame(ID=df[,1])
df

  ID
1 1
2 2
3 3
4 4
5 5

#### 2. Read CSV File into R

read.csv() function is the most important and commonly used function to import csv files into R

In [3]:
df1<-read.csv("China_largest_companies.csv")
head(df1)

  Global.Rank. Company.                   Sales...billion.. Profits...billion..
1  1           ICBC                       134.8             37.8
2  2           China Construction Bank    113.1             30.6
3  8           Agricultural Bank of China 103.0             23.0
4  9           PetroChina                 308.9             18.3
5 11           Bank of China               98.1             22.1
6 26           Sinopec-China Petroleum    411.7             10.1
  Assets...billion.. Market.Value...billion.
1 2813.5             237.3
2 2241.0             202.0
3 2124.2             150.8
4  347.8             261.2
5 2033.8             131.7
6  200.0             106.9

In [5]:
# structure of data
str(df1)

'data.frame':	139 obs. of  6 variables:
 $ Global.Rank.           : int  1 2 8 9 11 26 54 83 101 106 ...
 $ Company.               : Factor w/ 139 levels "Agile Property Holdings",..: 76 20 2 97 8 118 9 99 29 27 ...
 $ Sales...billion..      : num  134.8 113.1 103 308.9 98.1 ...
 $ Profits...billion..    : num  37.8 30.6 23 18.3 22.1 10.1 9.4 3.2 7.3 1.8 ...
 $ Assets...billion..     : num  2814 2241 2124 348 2034 ...
 $ Market.Value...billion.: num  237 202 151 261 132 ...

In [11]:
colnames(df1)

[1] "Global.Rank."            "Company."
[3] "Sales...billion.."       "Profits...billion.."
[5] "Assets...billion.."      "Market.Value...billion."

In [19]:
summary(df1)

  Global.Rank.                          Company.   Sales...billion..
 Min.   :   1.0   Agile Property Holdings   :  1   Min.   :   0.80
 1st Qu.: 549.5   Agricultural Bank of China:  1   1st Qu.:   5.05
 Median : 991.0   Aluminium Corp of China   :  1   Median :  10.80
 Mean   : 972.8   Angang Steel              :  1   Mean   :  61.11
 3rd Qu.:1439.5   Anhui Conch Cement        :  1   3rd Qu.:  20.40
 Max.   :1948.0   Baidu                     :  1   Max.   :3024.50
 NA's   :4        (Other)                   :133
 Profits...billion.. Assets...billion..  Market.Value...billion.
 Min.   : -1.500     Min.   :     1.30   Min.   :   0.20
 1st Qu.:  0.400     1st Qu.:     8.95   1st Qu.:   5.45
 Median :  0.600     Median :    16.20   Median :   9.50
 Mean   :  5.147     Mean   :  1434.93   Mean   :  51.95
 3rd Qu.:  1.400     3rd Qu.:    46.40   3rd Qu.:  16.30
 Max.   :275.400     Max.   :164794.85   Max.   :2762.80

#### 3. Read Excel File into R
To load Excel files into R, you first need to do some further prepping of your workspace in the sense that you need to install packages.

#### install packages:

In [4]:
install.packages("readxl")

package 'readxl' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\91870\AppData\Local\Temp\RtmpgbDrxA\downloaded_packages

#### load packages:

In [20]:
library("readxl")

In [16]:
# read excel file to R
df2 <- read_excel("zomato.xlsx")
d3<-data.frame(df2)
head(d3,2)

  Restaurant.ID Restaurant.Name  Country.Code City
1 6317637       Le Petit Souffle 162          Makati City
2 6304287       Izakaya Kikufuji 162          Makati City
  Address
1 Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City
2 Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City
  Locality
1 Century City Mall, Poblacion, Makati City
2 Little Tokyo, Legaspi Village, Makati City
  Locality.Verbose                                        Longitude Latitude
1 Century City Mall, Poblacion, Makati City, Makati City  121.0275  14.56544
2 Little Tokyo, Legaspi Village, Makati City, Makati City 121.0141  14.55371
  Cuisines                   ... Currency         Has.Table.booking
1 French, Japanese, Desserts ... Botswana Pula(P) Yes
2 Japanese                   ... Botswana Pula(P) Yes
  Has.Online.delivery Is.delivering.now Switch.to.order.menu Price.range
1 No                  No                No                   3
2 No                  No                No                   3
  Aggregate.rating Rating.color Rating.text Votes
1 4.8              Dark Green   Excellent   314
2 4.5              Dark Green   Excellent   591

In [18]:
colnames(d3)

 [1] "Restaurant.ID"        "Restaurant.Name"      "Country.Code"
 [4] "City"                 "Address"              "Locality"
 [7] "Locality.Verbose"     "Longitude"            "Latitude"
[10] "Cuisines"             "Average.Cost.for.two" "Currency"
[13] "Has.Table.booking"    "Has.Online.delivery"  "Is.delivering.now"
[16] "Switch.to.order.menu" "Price.range"          "Aggregate.rating"
[19] "Rating.color"         "Rating.text"          "Votes"

### 4.read.delim() for Delimited Files

In case you have a file with a separator character that is different from a tab, a comma or a semicolon, you can always use the read.delim() and read.delim2() functions. These are variants of the read.table() function, just like the read.csv() function.

In [13]:
b <- read.delim('Sample2.txt')
b

  group.y.x
1 category1,63,0.956545365
2 category1,77,-1.65455465
3 category1,45,0.023564788
4 category1,72,-0.87965412
5 category1,67,-1.23564867
6 category1,58,-0.46784864
7 category1,68,-1.36201568
8 category1,65,-0.25448678

In [7]:
data_frame <- read.delim('Sample2.txt', sep=',')
data_frame

  group     y  x
1 category1 63  0.95654536
2 category1 77 -1.65455465
3 category1 45  0.02356479
4 category1 72 -0.87965412
5 category1 67 -1.23564867
6 category1 58 -0.46784864
7 category1 68 -1.36201568
8 category1 65 -0.25448678

### 5. Read XML Files Into R
If you want to get XML data into R, one of the easiest ways is through the usage of the XML package. First, you make sure you install and load the XML package in your workspace, just like demonstrated above. Then, you can use the xmlTreeParse() function to parse the XML file directly from the web:

#### install packages:

In [8]:
install.packages('XML')

package 'XML' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\91870\AppData\Local\Temp\RtmpgbDrxA\downloaded_packages

#### Load packages:

In [15]:
library("XML")

Warning message:
"package 'XML' was built under R version 3.6.3"

In [16]:
#library("methods")
 
# the contents of a.xml are parsed
data <- xmlParse(file = "a.xml")
 
print(data)

<?xml version="1.0"?>
<RECORDS>
  <STUDENT>
    <ID>1</ID>
    <NAME>Alia</NAME>
    <MARKS>620</MARKS>
    <BRANCH>IT</BRANCH>
  </STUDENT>
  <STUDENT>
    <ID>2</ID>
    <NAME>Brijesh</NAME>
    <MARKS>440</MARKS>
    <BRANCH>Commerce</BRANCH>
  </STUDENT>
  <STUDENT>
    <ID>3</ID>
    <NAME>Yash</NAME>
    <MARKS>600</MARKS>
    <BRANCH>Humanities</BRANCH>
  </STUDENT>
  <STUDENT>
    <ID>4</ID>
    <NAME>Mallika</NAME>
    <MARKS>660</MARKS>
    <BRANCH>IT</BRANCH>
  </STUDENT>
  <STUDENT>
    <ID>5</ID>
    <NAME>Zayn</NAME>
    <MARKS>560</MARKS>
    <BRANCH>IT</BRANCH>
  </STUDENT>
</RECORDS>

In [17]:
# check class type
class(data)

[1] "XMLInternalDocument" "XMLAbstractDocument"

In [18]:
# Extract the root node.
rootnode<-xmlRoot(data)
# number of nodes in the root.
rootsize<-xmlSize(rootnode)
#print rootsize
print(rootsize)

[1] 5

In [19]:
# get entire contents of a record
print(rootnode[1])

$STUDENT
<STUDENT>
  <ID>1</ID>
  <NAME>Alia</NAME>
  <MARKS>620</MARKS>
  <BRANCH>IT</BRANCH>
</STUDENT>

attr(,"class")
[1] "XMLInternalNodeList" "XMLNodeList"

In [20]:
data_df <- xmlToDataFrame("a.xml")
print(data_df)

  ID    NAME MARKS     BRANCH
1  1    Alia   620         IT
2  2 Brijesh   440   Commerce
3  3    Yash   600 Humanities
4  4 Mallika   660         IT
5  5    Zayn   560         IT

### 6. Importing Data From HTML Tables Into R

#### install packages:

In [15]:
install.packages("rvest")

  There is a binary version available but the source version is later:
      binary source needs_compilation
rvest  1.0.0  1.0.2             FALSE

installing the source package 'rvest'

#### Load packages:

In [16]:
library("rvest")
library("XML")

In [17]:
url <- "https://en.wikipedia.org/wiki/List_of_highest-grossing_Indian_films"

In [18]:
# Read the HTML table
data_df <- read_html(url)
print(data_df)

{html_document}
<html class="client-nojs" lang="en" dir="ltr">
[1] <head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ...
[2] <body class="mediawiki ltr sitedir-ltr mw-hide-empty-elt ns-0 ns-subject  ...

In [19]:
# take all tables
all_table<-data_df %>%html_table(fill=TRUE)

In [20]:
table1<-all_table[[5]]
head(table1)

  Rank Peak Film                        Year Director
1 1    1    Dangal                      2016 Nitesh Tiwari
2 2    1    Baahubali 2: The Conclusion 2017 S. S. Rajamouli
3 3    3    Bajrangi Bhaijaan           2015 Kabir Khan
4 4    3    Secret Superstar            2017 Advait Chandan
5 5    1    PK                          2014 Rajkumar Hirani
6 6    5    2.0                         2018 S.Shankar
  Studio(s)
1 Aamir Khan Productions UTV Motion Pictures Walt Disney Studios India
2 Arka Media Works
3 Salman Khan Films Kabir Khan Films Eros International
4 Aamir Khan Productions
5 Vinod Chopra Films Rajkumar Hirani Films
6 Lyca Productions
  Primary  language Worldwide gross                       Source
1 Hindi             <U+20B9>2,024 crore (US$287 million)  [9]
2 TeluguTamil       <U+20B9>1,810 crore (US$257 million)  [9]
3 Hindi             <U+20B9>969.06 crore (US$150 million) [n 1]
4 Hindi             <U+20B9>966.86 crore (US$154 million) [n 2]
5 Hindi             <U+20B9>832 crore (US$120 million)    [20][10]
6 Tamil             <U+20B9>800 crore (US$114 million)    [21]

In [21]:
# remove Source column
table1 <- table1[ -c(9) ]

In [22]:
head(table1)

  Rank Peak Film                        Year Director
1 1    1    Dangal                      2016 Nitesh Tiwari
2 2    1    Baahubali 2: The Conclusion 2017 S. S. Rajamouli
3 3    3    Bajrangi Bhaijaan           2015 Kabir Khan
4 4    3    Secret Superstar            2017 Advait Chandan
5 5    1    PK                          2014 Rajkumar Hirani
6 6    5    2.0                         2018 S.Shankar
  Studio(s)
1 Aamir Khan Productions UTV Motion Pictures Walt Disney Studios India
2 Arka Media Works
3 Salman Khan Films Kabir Khan Films Eros International
4 Aamir Khan Productions
5 Vinod Chopra Films Rajkumar Hirani Films
6 Lyca Productions
  Primary  language Worldwide gross
1 Hindi             <U+20B9>2,024 crore (US$287 million)
2 TeluguTamil       <U+20B9>1,810 crore (US$257 million)
3 Hindi             <U+20B9>969.06 crore (US$150 million)
4 Hindi             <U+20B9>966.86 crore (US$154 million)
5 Hindi             <U+20B9>832 crore (US$120 million)
6 Tamil             <U+20B9>800 crore (US$114 million)

In [23]:
table2<-all_table[[11]]
# remove Source column
table2 <- table2[ -c(7) ]
head(table2)

  Rank Film              Year Director
1 1    Dangal            2016 Nitesh Tiwari
2 2    Bajrangi Bhaijaan 2015 Kabir Khan
3 3    Secret Superstar  2017 Advait Chandan
4 4    PK                2014 Rajkumar Hirani
5 5    Sultan            2016 Ali Abbas Zafar
6 6    Sanju             2018 Rajkumar Hirani
  Studio(s)
1 Aamir Khan Productions UTV Motion Pictures Walt Disney Studios India
2 Salman Khan Films Kabir Khan Films Eros International
3 Aamir Khan Productions
4 Vinod Chopra Films Rajkumar Hirani Films
5 Yash Raj Films
6 Rajkumar Hirani FilmsVinod Chopra Films
  Worldwide gross
1 <U+20B9>2,024 crore (US$311 million)
2 <U+20B9>969.06 crore (US$150 million)
3 <U+20B9>966.86 crore (US$154 million)
4 <U+20B9>832 crore (US$140 million)
5 <U+20B9>623.33 crore (US$89 million)
6 <U+20B9>586.85 crore (US$83.34 million)

### 9.Read SPSS Files into R
If youre a user of SPSS software and you are looking to import your SPSS files into R, firstly install the haven package. After loading the package, run the read_sav() function that is contained within it .

#### install and Load packages:

In [1]:
# another package is foreign
install.packages("haven")

  There is a binary version available but the source version is later:
      binary source needs_compilation
haven  2.4.1  2.4.3              TRUE

  Binaries will be installed
package 'haven' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\91870\AppData\Local\Temp\RtmpQXN5fY\downloaded_packages

In [2]:
#remove.packages("haven")

In [3]:
library("haven")

Warning message:
"package 'haven' was built under R version 3.6.3"

In [12]:
data2 <- read_sav("HLTH1025_2016.sav")  # Reading data
head(data2)

  IDnumber age sex workstat increg incmnth incwk     housing living homepay ...
1 20160186 19  2   3        1        0       0.00000 2       1      1       ...
2 20160011 17  2   0        0        0       0.00000 2       1      1       ...
3 20160081 18  2   3        1      300      69.23077 2       1      1       ...
4 20160155 18  2   0        0        0       0.00000 2       1      1       ...
5 20160182 19  2   0        1      600     138.46154 2       1      4       ...
6 20160027 17  2   0        0        0       0.00000 2       1      4       ...
  cvcondition arthritis osteop diabetes mtlstress anxiety depress mtlother
1 0           0         0      0        0         0       0       0
2 0           0         0      0        0         1       0       0
3 0           0         0      0        0         0       0       0
4 0           0         0      0        0         0       0       0
5 0           0         0      0        0         0       0       0
6 0           0         0      0        0         0       0       0
  mntlcond mntlcurr
1 0        99
2 1         1
3 0        99
4 0         0
5 0         0
6 0         0

### 10. Read SAS Files into R

For users that also want to import SAS files into R, its quite simple! For starters, install the sas7bdat package. Load it, and then invoke the read.sas7bdat() function contained within the package and you are good to go!

#### install and Load packages:

In [ ]:
install.packages("sas7bdat")

In [30]:
library("sas7bdat")

In [31]:
# Read in the SAS data
mySASData <- read.sas7bdat("airline.sas7bdat")
View(mySASData )

   YEAR Y      W     R      L     K
1  1948  1.214 0.243 0.1454 1.415 0.612
2  1949  1.354 0.260 0.2181 1.384 0.559
3  1950  1.569 0.278 0.3157 1.388 0.573
4  1951  1.948 0.297 0.3940 1.550 0.564
5  1952  2.265 0.310 0.3559 1.802 0.574
6  1953  2.731 0.322 0.3593 1.926 0.711
7  1954  3.025 0.335 0.4025 1.964 0.776
8  1955  3.562 0.350 0.3961 2.116 0.827
9  1956  3.979 0.361 0.3822 2.435 0.800
10 1957  4.420 0.379 0.3045 2.707 0.921
11 1958  4.563 0.391 0.3284 2.706 1.067
12 1959  5.385 0.426 0.3856 2.846 1.083
13 1960  5.554 0.441 0.3193 3.089 1.481
14 1961  5.465 0.460 0.3079 3.122 1.736
15 1962  5.825 0.485 0.3783 3.184 1.926
16 1963  6.876 0.506 0.4180 3.263 2.041
17 1964  7.823 0.538 0.5163 3.412 1.997
18 1965  9.120 0.564 0.5879 3.623 2.257
19 1966 10.512 0.586 0.5369 4.074 2.742
20 1967 13.020 0.622 0.4443 4.710 3.564
21 1968 15.261 0.666 0.3052 5.217 4.767
22 1969 16.313 0.731 0.2332 5.569 6.511
23 1970 16.002 0.831 0.1883 5.495 7.627
24 1971 15.876 0.906 0.2023 5.334 8.673
25 1972 16.662 1.000 0.2506 5.345 8.331
26 1973 17.014 1.056 0.2668 5.662 8.557
27 1974 19.305 1.131 0.2664 5.729 9.508
28 1975 18.721 1.247 0.2301 5.722 9.062
29 1976 19.250 1.375 0.3452 5.762 8.262
30 1977 20.647 1.544 0.4508 5.877 7.474
31 1978 22.726 1.703 0.5877 6.108 7.104
32 1979 23.619 1.779 0.5346 6.852 6.874

### 11. MYSQL DATABASE

In [ ]:
install.packages("RMySQL")

In [1]:
library("RMySQL")

Warning message:
"package 'RMySQL' was built under R version 3.6.3"
Loading required package: DBI

#### Connecting to MySQL:

In [2]:
mysqlconnection = dbConnect(MySQL(), user='root', password='', dbname='College', host='localhost')

In [3]:
mysqlconnection

In [4]:
# List the tables available in this database.
 dbListTables(mysqlconnection)

[1] "droptest" "student"

#### Querying the Tables:

In [23]:
dbClearResult(result)

[1] TRUE

In [21]:
result = dbSendQuery(mysqlconnection, "select * from student")

# Fetch all the records(with n = -1) and store it as a data frame.
data.frame = fetch(result, n = -1)

In [6]:
print(data.frame)

   ID   NAME AGE           BRANCH    Contact
1 101 ADITYA  20 MECHANICAL ENGG. 1234566865
2 102   AMAN  18              CSE 8562746598
3 103 RAJEEV  21              CSE 7865232310
4 104  SURAJ  22              ECE 9952332310
5 105 MANISH  23            CIVIL 8956563310

In [7]:
#dbDisconnect(mysqlconnection)

In [13]:
dbClearResult(result)

[1] TRUE

#### Query with Filter Clause

In [18]:
result = dbSendQuery(mysqlconnection, "select * from student where name = 'ADITYA'")

# Fetch all the records(with n = -1) and store it as a data frame.
data.frame = fetch(result, n = -1)
print(data.frame)

   ID   NAME AGE BRANCH    Contact
1 101 ADITYA  20    EEE 1234566865

#### Updating Rows in the Tables

In [17]:
dbSendQuery(mysqlconnection, "update student set BRANCH = 'EEE' where id = '101'")

In [19]:
dbClearResult(result)

[1] TRUE

In [20]:
dbSendQuery(mysqlconnection,
   "insert into student(ID,NAME,AGE,BRANCH,Contact)
   values('106', 'ROHAN', 24, 'CSE', '9958647521')"
)

In [22]:
print(data.frame)

   ID   NAME AGE BRANCH    Contact
1 101 ADITYA  20    EEE 1234566865
2 102   AMAN  18    CSE 8562746598
3 103 RAJEEV  21    CSE 7865232310
4 104  SURAJ  22    ECE 9952332310
5 105 MANISH  23  CIVIL 8956563310
6 106  ROHAN  24    CSE 9958647521